n8n_workflow.json
{
  "name": "Full Website Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "website-api",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "website-api"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"query\"][\"type\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "blogs",
              "output": 0
            },
            {
              "value2": "projects",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "route-switch",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "content": "[ \n  { \n    \"title\": \"Example Blog from n8n\", \n    \"excerpt\": \"This content is coming dynamically from your n8n workflow!\", \n    \"link\": \"#\", \n    \"date\": \"Just Now\" \n  } \n]",
        "height": 273,
        "width": 269
      },
      "id": "blogs-mock",
      "name": "Blogs Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "content": "[ \n  { \n    \"title\": \"Example Project from n8n\", \n    \"description\": \"A project description fetched from the workflow.\", \n    \"tags\": [\"n8n\", \"Automation\"], \n    \"image\": \"https://via.placeholder.com/600x400\" \n  } \n]",
        "height": 264,
        "width": 262
      },
      "id": "projects-mock",
      "name": "Projects Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each"
      },
      "id": "contact-json",
      "name": "Parse Contact Info",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        700,
        500
      ]
    },
    {
      "parameters": {
        "subject": "New Contact Form Submission: ={{ $json[\"body\"][\"subject\"] }}",
        "fromEmail": "admin@example.com",
        "toEmail": "admin@example.com",
        "text": "Name: ={{ $json[\"body\"][\"user_name\"] }}\nEmail: ={{ $json[\"body\"][\"user_email\"] }}\nMessage: ={{ $json[\"body\"][\"message\"] }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        920,
        500
      ],
      "notes": "Configure Gmail or SMTP credentials here"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Switch": {
      "main": [
        [
          {
            "node": "Blogs Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Projects Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contact Info": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}